<p id="notice"><%= notice %></p>

<p>
  <b>Created at:</b>
  <%= @product_image.created_at %>
</p>

<p>
  <b>Imagename:</b>
  <%= @product_image.imageName %>
</p>


<%= link_to 'Edit', edit_product_image_path(@product_image) %> |
<%= link_to 'Back', product_images_path %>
