<h1>Listing supplier_products</h1>

<table>
  <tr>
    <th>Cost</th>
    <th>Created at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @supplier_products.each do |supplier_product| %>
  <tr>
    <td><%= supplier_product.cost %></td>
    <td><%= supplier_product.created_at %></td>
    <td><%= link_to 'Show', supplier_product %></td>
    <td><%= link_to 'Edit', edit_supplier_product_path(supplier_product) %></td>
    <td><%= link_to 'Destroy', supplier_product, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Supplier product', new_supplier_product_path %>
